# Python
__pycache__/
*.pyc
admins/__pycache__/
admins/migrations/__pycache__/
main/__pycache__/
main/migrations/__pycache__/

# Django
db.sqlite3
media/
.venv/


# Python
_pycache_/
*.pyc
admins/_pycache_/
admins/migrations/_pycache_/
main/_pycache_/
main/migrations/_pycache_/

# Django
db.sqlite3
media/
.venv/